%button {
    border-radius: 30px;
    cursor: pointer;
    width: 182px;
    height: 48px;
    padding: 10px, 36px, 10px, 36px;
    background-color: transparent;
    color: #784F33;
;
    gap: 10px
}