%button {
    width: 138px;
    height: 48px;
    background-color: transparent;
    border-radius: 5px;
    text-transform: uppercase;
    border: 2px solid $bace-color;
    color: $white-color;
    cursor: pointer;
}