
* {
    margin: 0;
    padding: 0;
}

header {
    height: 5vh;
    background-color: blue;
}

.box {
    height: 30vh;
    width: 25%;
    background-color: rgb(65, 109, 138);
    display: flex;
    border-radius: 9px;
    padding: 3px 10px;
}

.model {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 40px 0;
}

.edge {
    height: 5vh;
    background-color: red;
    border-radius: 9px;
    margin: 30px 30px;
}